<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Chat Page', css: ''}) %>
<body>
    <header>
        <img src="<%= profile.photo %>" alt="profile-photo">
        <h2><%= profile.username %></h2>
    </header>
    <main>
        <%for(let i=0; i<chat.messages.length; i++){%>
            <p><%= chat.messages[i].content %></p>
        <%}%>
        <form action="/chat/<%= chat._id %>" method="POST">
            <input type="text" name="content">
            <input type="submit" name="submit">
        </form>
    </main>
</body>
</html>