<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Chat Page', css: ''}) %>
<body>
    <header>
        <img src="<%= profile.photo %>" alt="profile-photo">
        <h2><%= profile.username %></h2>
    </header>
    <main>
        <ul class="messages">
            <%for(let i=0; i<chat.messages.length; i++){%>
                <li><%= chat.messages[i].content %></li>
            <%}%>
        </ul>
        <form>
            <input type="text" name="content" class="content">
            <input type="submit" name="submit">
        </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>const chatId = <%- JSON.stringify(chat._id) %></script>
    <script src="/scripts/chat_server.js" type='text/javascript'></script>
</body>
</html>