<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Feed Page', css: "/styles/feed.css"}) %>
<body>
    <div class="container">
<!-- <%- include('partials/settings.ejs') %> -->
        
        <div class="post">
            <%for(let i=0; i<posts.length; i++){%>
            <%let post = posts[i]%>
            <a href="/profile/<%= post.user._id %>"><img src="<%= post.user.photo %>" alt="user_photo" class="user_photo"></a>
            <h2><a href="/profile/<%= post.user._id %>"><%= post.user.username %></a></h2>
            <img src="<%= post.image %>" alt="" class="image_post">
            <p><%= post.caption %></p>
            <%}%>
        </div>
        <%- include('partials/nav.ejs', {id}) %>
    </div>
</body>
</html>