<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed Page</title>
        <link rel="stylesheet" href="/styles/feed.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    </head>
<body>
<!-- <%- include('partials/settings.ejs') %> -->
        <h1 class="app_name">PicPals</h1>
        <div class="posts">
            <%for(let i=0; i<posts.length; i++){%>
            <%let post = posts[i]%>
            <div class="post">
                <a href="/profile/<%= post.user._id %>"><img src="<%= post.user.photo %>" alt="user_photo" class="user_photo"></a>
                <h2><a href="/profile/<%= post.user._id %>"><%= post.user.username %></a></h2>
                <img src="<%= post.image %>" alt="" class="image_post">
                <p><%= post.caption %></p>
            </div>
            <%}%>
        </div>
        <%- include('partials/nav.ejs', {id}) %>
</body>
</html>