<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Profile Page', css: "/styles/profile.css"}) %>
<body>
    <div class="container">
        <%- include('partials/settings.ejs') %>
        <div class="profile_info">
            <img src="<%= profile.photo %>" alt="profile_photo" class="profile_photo">
            <h2><%= profile.username %></h2>
            <hr class="hr1">
            <p><%= profile.bio %></p>
            <a href="/chat/<%= profile._id %>">Message</a>
        </div>
        <main>
            <% for(let i=0; i<profile.posts.length; i++){%>
                <%let post = profile.posts[i]%>
                <div class="image_container">
                    <img src="<%= post.image %>" alt="" class="post_image">
                </div>
            <%}%>
        </main>
        <%- include('partials/nav.ejs',{id}) %>
    </div>
</body>
</html>